<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>带聊天功能的WebSocket客户端</title>
</head>
<body>

    <div>发送消息</div>
    <input type="text" id="msgContext">
    <input type="button" value="点我发送" onclick="CHAT.getInputMsg()">
    <br/>
    <br/>

    <div>接收消息：</div>
    <div id="receiveMsg" style="background-color: gainsboro;"></div>

    <script>
        /**
         * 创建聊天信息对象
         * @param senderId 发送者id
         * @param receiverId 接收者id
         * @param msg 消息
         * @param msgId 消息id
         */
        ChatMsg =  function (senderId, receiverId, msg, msgId) {
            this.senderId = senderId;
            this.receiverId = receiverId;
            this.msg = msg;
            this.msgId = msgId;
        };

        /**
         * 创建传给服务器的数据内容
         * @param action 动作类型
         * @param chatMsg 聊天信息对象
         * @param extend 拓展字段
         */
        DataContent = function (action, chatMsg, extend) {
            this.action = action;
            this.chatMsg = chatMsg;
            this.extend = extend;
        };

        /**
         * 后端服务器的接收类型
         */
        var actionType = {
            CONNECT:1, // 第一次:或（重连）初始化连接
            CHAT:2, // 聊天消息
            SIGNED:3, // 消息签收
            KEEPALIVE:4, // 客户端保持心跳
            PULL_FRIEND:5 // 拉取好友
        };

        window.CHAT = {
            socket: null,
            // 初始化 WebSocket 连接
            init: function () {
                if (window.WebSocket) {
                    // 创建 WebSocket 连接
                    CHAT.socket = new WebSocket("ws://127.0.0.1:9999/ws");

                    // 与服务器连接成功的事件
                    CHAT.socket.onopen = function () {
                        console.log("连接建立成功...");

                        // 创建聊天信息对象
                        var chatMsg = new ChatMsg("USER1001", "USER1001", "全都是假象", "MSG001");
                        console.log(chatMsg);

                        // 创建传给服务器的数据内容
                        var dataContent = new DataContent(actionType.CONNECT, chatMsg, "MSG001,MSG002,MSG003");
                        console.log(dataContent);

                        // 发送 WebSocket 消息到服务器
                        CHAT.chat(JSON.stringify(dataContent));
                    };

                    // 接收服务器消息成功的事件
                    CHAT.socket.onmessage = function (e) {
                        var msg = e.data;
                        console.log("接收到消息：" + msg);

                        // 将收到的消息显示到页面中
                        var receiveMsg = document.getElementById("receiveMsg");
                        var html = receiveMsg.innerHTML;
                        receiveMsg.innerHTML = html + "<br/>" + msg;
                    };

                    // 接收服务器消息失败的事件
                    CHAT.socket.onerror = function () {
                        console.log("发生错误...");
                    };

                    // 与服务器连接关闭的事件
                    CHAT.socket.onclose = function () {
                        console.log("连接关闭...");
                    };
                } else {
                    alert("当前浏览器不支持 WebSocket 协议！");
                }
            },
            // 向服务器发送消息
            chat: function (msg) {
                CHAT.socket.send(msg);
            },
            // 获取输入框的内容，并发送消息
            getInputMsg: function() {
                // 获取输入框
                var msg = document.getElementById("msgContext");

                // 创建聊天信息对象
                var chatMsg = new ChatMsg("USER1001", "USER1001", msg.value, "MSG001");
                console.log(chatMsg);

                // 创建传给服务器的数据内容
                var dataContent = new DataContent(actionType.CHAT, chatMsg, "MSG001,MSG002,MSG003");
                console.log(dataContent);

                // 向服务端发送消息
                CHAT.chat(JSON.stringify(dataContent));
            }
        };

        // 初始化 WebSocket 连接
        CHAT.init();

        // 设置回车键事件
        document.onkeydown = function (e) {
            if (e.keyCode === 13) {
                CHAT.getInputMsg();
            }
        };

    </script>
</body>
</html>